div
{
  width: 300px;
  border-radius: 3px;
  background-color: #666666;
}
form input[type=text]
{
  width: 250px;
  padding: 10px;
  margin: 10px;
  border: 1px solid DeepSkyBlue;
  border-radius: 3px;
}
input[type=submit]:hover
{
  background-color: DodgerBlue;
}
.login form input[type=submit]
{

  width: 100px;
  height: 40px;
  color: white;
  background-color: DeepSkyBlue;
  border-radius: 6px;
  margin: 10px;
  position: relative;
  left: 30%;
}

/*
Hover value has to be specific
The buttons don't hover if there is only
form input[type=submit]:hover{
background-color: DodgerBlue;
}*/
.login form input[type=submit]:hover
{
  background-color: DodgerBlue;
}

.createAccount form input[type=submit]
{
  width: 120px;
  height: 40px;
  color: white;
  background-color: DeepSkyBlue;
  border-radius: 6px;
  margin: 10px;
  position: relative;
  left: 28%;
}
.createAccount form input[type=submit]:hover
{
  background-color: DodgerBlue;
}

.teaminfo p
{
    margin: 10px;
}
body
{
    background-color: #222020;
    color: white;
    font-family: "Helvetica Neue", serif;
}

#invalidUser
{
  visibility: hidden;
  font-size: 12px;
  text-align: center;
  color: #ff4c4c;
}

#alreadyCreated
{
  visibility: hidden;
  font-size: 12px;
  text-align: center;
  color: #ff4c4c;
}
.char{
  width: 50px;
  height: 40px;
  max-width: 100px;
  display: inline-block;
  border: 3px;
  border-radius: 4px;
  border-color: #666666;
  margin-bottom: 10px;
  cursor:default;

}

div.slot{
  color: #666666;
  width: 50px;
  height: 45px;
  margin-bottom: 15%;
}
/*
div.slot:hover{
  border: 1px solid DeepSkyBlue;

}
div.char:hover{
  border: 1px solid DeepSkyBlue;
}
*/
/*
TABLE
CSS
*/

table{
  cursor:default;
}
.playerOneList
{
  margin-top: 5%;
  float:left;
  margin-left: 15%;
  text-align: left;
  cursor:default;
  color: #e50000;
}
.playerTwoList
{
  margin-top: 5%;
  float: left;
  margin-left: 5%;
  text-align: right;
  emtpy-cells: show;
  cursor:default;
  color: dodgerblue;

}
.shop
{
  cursor:default;
  text-align: center;
  margin-top: 5%;
  float: left;
  margin-left: 5%;
}
.shopPlayerOne
{
  float: left;
}
.shopPlayerTwo
{
  float: left;
}
/*
END
TABLE
CSS
*/

.item{
  width: 50px;
  height: 45px;
  text-align: center;
  cursor:default;
}

.item img{
  height: 100%;
  width: 100%;
}

.Player1TeamList{
  float: left;
  width: auto;
  padding: 15px;
  color: #e50000;

}

.Player2TeamList{
  float: left;
  width: auto;
  padding: 15px;
  color: dodgerblue;
}

#gameTable{
    border: 2px white solid;
    float: left;
    table-layout: fixed;
    /*background-color: green;*/
}
#gameTable td
{
    height: 40px;
    width: 40px;
    spacing: 0;
    padding: 0;
    /*border: .2px transparent solid;*/
}
#gameTable td.playerOne
{
  /*border-color: #e50000;*/
  filter:drop-shadow(1px 1px 10px #e50000);

}
#gameTable td.playerTwo
{
  /*border-color: DodgerBlue;*/
  filter:drop-shadow(1px 1px 10px dodgerblue);
}

#gameTable img{
  width: 100%;
  height: 100%;
  margin: auto;
  display: block;
}

#charInfo td
{
  text-align: left;
  text-overflow: ellipsis;
  padding-bottom: 10%;
  font-size: 15px;
  display: block;
  width: 175px;
  max-width: 175px
  height: 20px;
  max-height: 20px;
}

#charInfo {
  font: 15px;
  margin-left: 5px;
  border-radius: 3px;
  margin-right: 2px;
  float: left;
  background-color: #666666;
}

#spellInfo td
{
  height: 40px;
  text-align: left;
  overflow: hidden;
  font-size: 15px;
  padding-bottom: 14px;

}

#spellInfo{
  table-layout: fixed;
  border-radius: 3px;
  background-color: #666666;
}

#playerOneTurn
{
  color: #e50000;
}
#playerTwoTurn
{
  color: dodgerblue;
}
/*
#gameTable td:hover{
    border: 1px solid;
    border-color: red;
}
*/
